In [1]:
#
import pandas as pd
bul_suk = pd.read_excel('../data/bus_timeline/bulguksa_suckgulam.xlsx')
bul_suk

   버스   출발   도착      출발시간      이동시간      도착시간
0  12  불국사  석굴암  08:40:00  00:18:00  08:58:00
1  12  불국사  석굴암  09:40:00  00:18:00  09:58:00
2  12  불국사  석굴암  10:40:00  00:18:00  10:58:00
3  12  불국사  석굴암  11:40:00  00:18:00  11:58:00
4  12  불국사  석굴암  12:40:00  00:18:00  12:58:00
5  12  불국사  석굴암  13:40:00  00:18:00  13:58:00
6  12  불국사  석굴암  14:40:00  00:18:00  14:58:00
7  12  불국사  석굴암  15:40:00  00:18:00  15:58:00
8  12  불국사  석굴암  16:40:00  00:18:00  16:58:00
9  12  불국사  석굴암  17:20:00  00:18:00  17:38:00

In [26]:
import time
from datetime import timedelta, datetime
from dateutil.relativedelta import relativedelta
now = datetime.now().strftime("%H:%M:%S")
now = datetime.now().strftime("%H:%M:%S")
len = bul_suk.index.stop-1
#move = 18
#watch = 60

for n in bul_suk.index:
    if bul_suk['출발시간'][len].hour < int(now.split(':')[0]):
        print('탑승 가능한 버스가 없습니다.')
    elif bul_suk['출발시간'][n].hour == int(now.split(':')[0]):
        if bul_suk['출발시간'][n].minute > int(now.split(':')[1]):
            print(bul_suk.loc[n])
        else:
            if n+1 <= len:
                print(bul_suk.loc[n+1])
            else:
                print('탑승 가능한 버스가 없습니다.')
    
            
#print(now + move + watch)

버스            12
출발           불국사
도착           석굴암
출발시간    12:40:00
이동시간    00:18:00
도착시간    12:58:00
Name: 4, dtype: object

In [3]:
def time_convert(time):
    hour = 0
    minute = 0
    second = 0
    if time >= 60:
        hour = time // 60
        minute = time % 60
    else:
        minute = time
    return [hour, minute]

time_convert(78)

[1, 18]

In [37]:
def bus_func(now, data):
    
    move = 18
    watch = 60
    time = time_convert(move+watch)
    
    #print(delta)
    for n in bul_suk.index:
        if bul_suk['출발시간'][len].hour < int(now.split(':')[0]):
            print('탑승 가능한 버스가 없습니다.')
        elif bul_suk['출발시간'][n].hour == int(now.split(':')[0]):
            if bul_suk['출발시간'][n].minute > int(now.split(':')[1]):
                print(bul_suk.loc[n])
            else:
                if n+1 <= len:
                    print(bul_suk.loc[n+1])
                else:
                    print('탑승 가능한 버스가 없습니다.')
    now2 = now + pd.Timedelta(hours = time[0], minutes = time[1])
    #now2 = [now.split(':')[0] + time[0], now.split(':')[1] + time[1]]
    #print(now2)
    #now2 = now + relativedelta(hours = time[0], minutes = time[1])
    print(now2)
    return now2
    #print('관람 완료 시각 : ', now) # delta time 설정하기

In [38]:
bus_func(now, bul_suk)

버스            12
출발           불국사
도착           석굴암
출발시간    12:40:00
이동시간    00:18:00
도착시간    12:58:00
Name: 4, dtype: object
0 days 13:23:24

Timedelta('0 days 13:23:24')

In [39]:
suk_bul = pd.read_excel('../data/bus_timeline/suckgulam_bulguksa.xlsx')
pd.to_datetime(now2)

TypeError: <class 'pandas._libs.tslibs.timedeltas.Timedelta'> is not convertible to datetime